.programmEditPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 48px;

    .programmInfo {
        width: 78%;
        margin-top: 100px;
    }

    h1 {
        font-size: 48px;
        font-weight: 500;
    }

    h5 {
        font-size: 24px;
    }

    .greenLine {
        width: 80%;
        height: 6px;
        background: #E7FAEB;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    table {
        color: #6C6C6C;
        border-collapse: collapse;
        width: 80%;

        thead {
            border-bottom: 3px solid #C0C0C0;
            :first-child {
                width: 30px;
            }
        }

        tbody {
            tr {
                height: 40px;
                font-size: 20px;
                :first-child {
                    text-align: center;
                }
                :nth-child(2) {
                    padding-left: 10px;
                }
                :nth-child(n+3) {
                    width: 150px;
                    text-align: center;
                }
                :nth-child(5) {
                    width: 117px;
                }

                
            }
        }

        .fileTD {
            .filePicker {
                z-index: -1;
                width: 0;
                position: absolute;
                opacity: 0;
            }

            label {
                display: block;
                height: 24px;
                span {
                    display: flex;
                    background: #EDEDED;
                    align-items: center;
                    width: 115px;
                    height: 24px;
                    border: 1px dashed black;
                    border-radius: 5px;
                    transition: ease 100ms;

                    img {
                        width: 15px;
                        height: 20px;
                        margin: 0 auto;
                    }
                }

                span:hover {
                    background: #dcdcdc;
                }
            }

        }
    }
    .addLabButton {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 18px;
        font-style: italic;
    }
}

.addModalWrapper{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.333);
    animation: appear ease-out 200ms ;
    .addLabModal {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        width: 50%;
        height: 50%;
        padding: 30px;
        background: white;
        animation: updown 400ms ;
        .nameInputWrapper {
            width: 80%;
            position: relative;
            .labNameInput {
                position:relative;
                z-index: 1;
                background: transparent;
                width: 100%;
                font-size: 20px;
                border: none;
                outline: none;
                border-bottom: 1px solid rgb(165, 165, 165);
            }
            .nameLabel {
                display: block;
                position: absolute;
                color: #a2a2a2;
                font-size: 20px;
                left: 0;
                top: -2px;
                transition: ease 100ms;
            }
            .nameLabel.ff {
                color: #000;
                top: -23px;
                left: -2px;
                font-size: 15px;
            }
        }
        .startInputWrapper {
            width: 80%;
            .startDatePicker {
                font-size: 20px;
                border: none;
                outline: none;
            }
        }
    }
}
.addModalWrapper.disappear {
    animation: appear ease-in 200ms;
}

@keyframes appear {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes updown {
    from {
        margin-top: -100px;
    }
    
    to {
        margin-top: 0;
    }
}