.scheduleItemWrapper {
    box-shadow: 0px 8px 10px gray, 
    -10px 8px 15px gray, 10px 8px 15px gray;
    .cardTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        font-weight: 300;
        color: black;
        background-color: lightblue;
        z-index: 1;

        .ned-num {
            padding: 10px;
            color: white;
            background-color: #64B5F6;
        }

        .ned-num.today {
            background-color: #E57373;
        }
    }

    .cardTitle.today {
        font-weight: 400;
        color: white; 
        background-color: indianred;
    }

    table {
        width: 400px;
        // box-shadow: 1px 1px 3px 4px rgba(0, 0, 0, 0.418);
        border-collapse: collapse;
        
        td {
            padding: 9px;
        }

        tr {
            border: 1px solid rgba(208, 208, 208, 0.83); 
            height: 60px;
        }

        .type {
            background-color: #EFEFEF;
            padding: 0;
            width: 8px;
        }

        .type.lecture{
            background-color: moccasin;
        }

        .who-where {
            width: 50px;
        }
        
        .time {
            text-align: center;
            padding: 2px;
            width: 50px;
        }
    }
}